<!-- LOG IN -->
<div class="dashboard">
<div id="login-page">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="logout-button"> <%= link_to 'Log Out', logout_path%> </button>
    </div>
  </div>
</div>


<div class="container" id="dashboard">

  <div class="page-header">
    <h1>Interests <small>It's what you like to do</small></h1>
  </div>
  <div class="interest_button">
    <%= render partial: 'add_interests' %>
  </div>

  <h3> Welcome, <%= @current_user.username %> </h3>

  <div class="show_post">
    <%= render partial: 'posts' %>
  </div>

  <%= paginate @posts %>
</div>
</div>
